In [2]:
import pandas as pd
import numpy as np
mylist = [1.2, 3.5, 4.7, 23.6, 4.1]
s = pd.Series(data=mylist, name='Parauga series')
print(s)

0     1.2
1     3.5
2     4.7
3    23.6
4     4.1
Name: Parauga series, dtype: float64

In [3]:
print(s[3])

23.6

In [4]:
md =['pirmais', 'otrais', 'trešais', 'ceturtais', 'piektais']
ss = pd.Series(data=mylist, name='Series 3', index=md)
print(ss)

pirmais       1.2
otrais        3.5
trešais       4.7
ceturtais    23.6
piektais      4.1
Name: Series 3, dtype: float64

In [5]:
def p(wh):
    print(wh)

p(ss['trešais'])

4.7

In [7]:
p(ss.iloc[2])

4.7

In [16]:
s5 = pd.Series(data=[2.0,5.0,4.0,3.0,2.0],index=['pirmais', 'trešais', 'ceturtais', 'piektais', 'seestis'])
print(s5)

pirmais      2.0
trešais      5.0
ceturtais    4.0
piektais     3.0
seestis      2.0
dtype: float64

In [10]:
ss+s5

ceturtais    28.3
otrais        NaN
piektais     27.7
pirmais       2.4
seestis       NaN
trešais       8.2
dtype: float64

In [17]:
dfa = pd.concat([ss, s5], axis=1, sort=False)
p(dfa)

           Series 3    0
pirmais         1.2  2.0
otrais          3.5  NaN
trešais         4.7  5.0
ceturtais      23.6  4.0
piektais        4.1  3.0
seestis         NaN  2.0

In [46]:
np.random.seed = 123
dfb = pd.DataFrame(data=np.random.randint(-10,25, (5,5)))
p(dfb)

   0   1   2   3   4
0 -5  15  10  -4  21
1 -4  -5  14  16  23
2  7  -6  -1  11  11
3  7  14  -2  -3  -8
4 -7  15  16  12   0

In [49]:
np.random.seed = 123
dfb = pd.DataFrame(data=np.random.randint(-10,25, (5,5)), index=md,
                   columns=("col"+str(i) for i in range(5)))
p(dfb)

           col0  col1  col2  col3  col4
pirmais      14    16    24    -3    -4
otrais       -5    17    11    19    -8
trešais      19    -6    23    -8     5
ceturtais    -3    23    22     8    -3
piektais     15    -3    12    12    18

In [50]:
dfb.loc['pirmais']

col0    14
col1    16
col2    24
col3    -3
col4    -4
Name: pirmais, dtype: int32

In [53]:
dfb.iloc[0]

col0    14
col1    16
col2    24
col3    -3
col4    -4
Name: pirmais, dtype: int32

In [54]:
dfb.loc[['pirmais', 'piektais'], ['col2', 'col4']]

          col2  col4
pirmais     24    -4
piektais    12    18

In [55]:
#2 r 3kolon
dfb.iloc[1,2]

11

In [58]:
dfb[dfb['col2']>12]

           col0  col1  col2  col3  col4
pirmais      14    16    24    -3    -4
trešais      19    -6    23    -8     5
ceturtais    -3    23    22     8    -3

In [60]:
dfb['col6'] = data=np.random.randint(100,150, (5,1))
p(dfb)

           col0  col1  col2  col3  col4  col6
pirmais      14    16    24    -3    -4   116
otrais       -5    17    11    19    -8   148
trešais      19    -6    23    -8     5   121
ceturtais    -3    23    22     8    -3   115
piektais     15    -3    12    12    18   140

In [61]:
#col nnodzēšana
#f.drop()
p(dfb.drop('col1', axis=1, inplace = False))

           col0  col2  col3  col4  col6
pirmais      14    24    -3    -4   116
otrais       -5    11    19    -8   148
trešais      19    23    -8     5   121
ceturtais    -3    22     8    -3   115
piektais     15    12    12    18   140

In [62]:
dfb.reset_index()

       index  col0  col1  col2  col3  col4  col6
0    pirmais    14    16    24    -3    -4   116
1     otrais    -5    17    11    19    -8   148
2    trešais    19    -6    23    -8     5   121
3  ceturtais    -3    23    22     8    -3   115
4   piektais    15    -3    12    12    18   140

In [64]:
dfc = dfb.reset_index(drop=True)
dfc

   col0  col1  col2  col3  col4  col6
0    14    16    24    -3    -4   116
1    -5    17    11    19    -8   148
2    19    -6    23    -8     5   121
3    -3    23    22     8    -3   115
4    15    -3    12    12    18   140

In [67]:
dfc['nc'] = str.split('Tā ir jauna kolona patie')

In [68]:
dfc

   col0  col1  col2  col3  col4  col6      nc
0    14    16    24    -3    -4   116      Tā
1    -5    17    11    19    -8   148      ir
2    19    -6    23    -8     5   121   jauna
3    -3    23    22     8    -3   115  kolona
4    15    -3    12    12    18   140   patie

# DataFrame kombo

In [70]:
dfL = pd.DataFrame({'customer': ("100"+str(i) for i in range (1, 5)),
                   'category': ("cat"+str(i) for i in range (1, 5)),
                   'important': "yes no yes no".split(),
                   'sales': [123,52,214,663]
},
                   index =[0,1,2,3]
                   )

dfM = pd.DataFrame({'customer': ("100"+str(i) for i in range (1, 5)),
                   'color': "yellow green green blue".split(),
                   'distance': [22,19,24,28],
                   'sales': [123,214,663,331]
},
                   index =[4,5,6,7]
                   )

p(dfL)
p(dfM)

  customer category important  sales
0     1001     cat1       yes    123
1     1002     cat2        no     52
2     1003     cat3       yes    214
3     1004     cat4        no    663
  customer   color  distance  sales
4     1001  yellow        22    123
5     1002   green        19    214
6     1003   green        24    663
7     1004    blue        28    331

In [71]:
pd.concat([dfL, dfM], axis=0, sort=False)

  customer category important  sales   color  distance
0     1001     cat1       yes    123     NaN       NaN
1     1002     cat2        no     52     NaN       NaN
2     1003     cat3       yes    214     NaN       NaN
3     1004     cat4        no    663     NaN       NaN
4     1001      NaN       NaN    123  yellow      22.0
5     1002      NaN       NaN    214   green      19.0
6     1003      NaN       NaN    663   green      24.0
7     1004      NaN       NaN    331    blue      28.0

In [72]:
pd.concat([dfL, dfM], axis=1, sort=True)

  customer category important  sales customer   color  distance  sales
0     1001     cat1       yes  123.0      NaN     NaN       NaN    NaN
1     1002     cat2        no   52.0      NaN     NaN       NaN    NaN
2     1003     cat3       yes  214.0      NaN     NaN       NaN    NaN
3     1004     cat4        no  663.0      NaN     NaN       NaN    NaN
4      NaN      NaN       NaN    NaN     1001  yellow      22.0  123.0
5      NaN      NaN       NaN    NaN     1002   green      19.0  214.0
6      NaN      NaN       NaN    NaN     1003   green      24.0  663.0
7      NaN      NaN       NaN    NaN     1004    blue      28.0  331.0

In [73]:
pd.merge(dfL, dfM, how='outer', on='custmer')

KeyError: 'custmer'

In [75]:
pd.merge(dfL, dfM, how='inner', on='custmer')

KeyError: 'custmer'

In [77]:
p(dfM['color'].unique())
p(dfM['color'])

['yellow' 'green' 'blue']
4    yellow
5     green
6     green
7      blue
Name: color, dtype: object

In [ ]:
"""sumary_line
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/miniforge3/lib
pip install flash-attn --no-build-isolation --user
qsub -I -l nodes=1:ppn=2:gpus=1
urn: return_description
"""

In [78]:
def rei(s):
    return s*2

dfL['sales'].apply(rei)

0     246
1     104
2     428
3    1326
Name: sales, dtype: int64

In [80]:
dfN = dfL.copy()

In [82]:
dfN['new sales'] = dfN['sales'].apply(rei)
p(dfN)

  customer category important  sales  new sales
0     1001     cat1       yes    123        246
1     1002     cat2        no     52        104
2     1003     cat3       yes    214        428
3     1004     cat4        no    663       1326

In [83]:
mdd = {"customer": ("Customer"+str(i) for i in [1, 1, 2, 2, 3, 3]),
       "pridu1" : [1.1,2.1,3.8,4.2, 5.5, 6.9],
       "pridu2" :[8.2, 9.1, 11.1, 5.2, 44.66, 983] }
dfQ = pd.DataFrame(mdd, index = ("pirkums"+str(i) for i in range(1,7)))

dfQ

           customer  pridu1  pridu2
pirkums1  Customer1     1.1    8.20
pirkums2  Customer1     2.1    9.10
pirkums3  Customer2     3.8   11.10
pirkums4  Customer2     4.2    5.20
pirkums5  Customer3     5.5   44.66
pirkums6  Customer3     6.9  983.00

In [85]:
g = dfQ.groupby('customer')
g

In [86]:
g.sum()

           pridu1   pridu2
customer
Customer1     3.2    17.30
Customer2     8.0    16.30
Customer3    12.4  1027.66

In [ ]:
dfQ.to_csv('dfQ.csv', index=True)